html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  
  
  /* Main Content Styling */
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Adjust height to fill the page */
    
  }
  
  /* Button Styling */
  button {
    background-color: #FFD700;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
    background-color: #f4c430; /* Slightly darker gold */
    transform: scale(1.05); /* Slightly enlarge on hover */
  }
  